# ==============================
# ENVIRONMENT / SECRETS
# ==============================

.env
.env.*
!.env.example

# ==============================
# PYTHON
# ==============================

venv/
.venv/
__pycache__/
*.py[cod]

# ==============================
# NEXT.JS
# ==============================

node_modules/
.next/
out/

# ==============================
# LOCAL ENV
# ==============================

.env.local

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OS
# ==============================

.DS_Store
Thumbs.db